body {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #5f574e;
    background-color: #fde4e8
}

h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-size: 30px;
}

ul, ol {
    display: flex;
    flex-direction: column;
    padding-left: 22px;
    gap: 10px;
}

li {
    padding-left: 15px;
}

ul li::marker {
    color: #7b284f;
    font-size: 13px;
}

hr {
    border: 0;
    border-top: 1px solid hsl(30, 18%, 87%);
}

.main {
    background-color: #ffffff;
}

.main .imagem img {
    width: 100%;
}

.main .introdution {
    margin-top: 30px;
    padding: 0px 30px;
}

.main .introdution h1 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    line-height: 35px;
    color: #000000;
    font-size: 36px;
    margin-bottom: 25px;
}

.main .introdution .preparation-time {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff5fa;
}

.main .introdution .preparation-time h3 {
    color: hsl(332, 51%, 32%);
    margin-bottom: 15px;
}

.main .introdution .preparation-time li span {
    font-weight: 700;
}



.main .section-titulo {
    color:  #854632;
    margin-bottom: 20px;
}

.main section {
    padding: 30px;
}



.main .instructions-section ol li::marker {
    color: #7b284f;
    font-weight: 700;
}

.main .instructions-section ol li {
    line-height: 23px;
}

.main .instructions-section .instruction {
    font-weight: 700;
}

.main .nutrition-section .table {
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    line-height: 50px;
}

.main .nutrition-section .table th {
    font-weight: 400;
    border-bottom: 1px solid hsl(30, 18%, 87%);
    width: 50%;
    padding-left: 30px;
}

.main .nutrition-section .table td {
    color: #7b284f;
    font-weight: 700;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.main .nutrition-section .table .no-border td, .main .nutrition-section .table .no-border th{
    border-bottom: none;
}

.footer .attribution {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}