body {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #5f574e;
    background-color: #fde4e8
}

ul, ol {
    display: flex;
    flex-direction: column;
    list-style-position: inside;
}

hr {
    border: 0;
    border-top: 1px solid hsl(30, 18%, 87%);
}

h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-size: 30px;
}

ul li::marker {
    color: #7b284f;
    font-size: 10px;
}



.main {
    background-color: #ffffff;
}

.main .imagem img {
    width: 100%;
}

.main .introdution {
    margin-top: 30px;
    padding: 0px 30px;
}

.main .introdution h1 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    line-height: 35px;
    color: #000000;
    font-size: 36px;
}

.main .introdution .introdution-text {
    margin-top: 25px;
}

.main .introdution .preparation-time {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff5fa;
}

.main .introdution .preparation-time h3 {
    color: hsl(332, 51%, 32%);
}

.main .introdution .preparation-time ul {
    gap: 10px;
    margin-top: 15px;
}

.main .introdution .preparation-time li span {
    font-weight: 700;
}

.main .ingredients-section {
    padding: 30px;
}



.main .section-titulo {
    color:  #854632;
    margin-bottom: 20px;
}
.main section ul, .main section ol {
    gap: 10px;
}



.main .instructions-section {
    padding: 30px;
}
.main .instructions-section ol li::marker {
    color: #7b284f;
    font-weight: 700;
}

.main .instructions-section ol li {
    line-height: 23px;
}

.main .instructions-section .instruction {
    font-weight: 700;
}

.main .nutrition-section {
    padding: 30px;
}

.main .nutrition-section .table {
    margin-top: 30px;
}

.main .nutrition .table thead th {
    font-weight: 500;
}

.main .nutrition .table tbody td {
    color: #7b284f;
    font-weight: 700;
}

.footer .attribution {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}